body.user-new-php #createuser tr.form-field:nth-child(5) {
	display: none;
}

body.user-edit-php {
	#your-profile {
		// Hide Personal Options
		h2:first-of-type,
		table.form-table:first-of-type {
			display: none;
		}

		// Hide website input
		.user-url-wrap {
			display: none;
		}

		// Hide About section
		h2:nth-of-type(4),
		table.form-table:nth-of-type(4) {
			display: none;
		}

		// Hide memberpress section
		h3,
		table.mepr-form {
			display: none;
		}
	}
}
