.cover-title {
	position: absolute;
	top: 144mm;
	left: 0;
	width: 100%;
	text-align: center;
	color: #314756;
	font-weight: bold;
	font-size: 24pt;
	font-family: "Nexa", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	z-index: 10;
}

.info-name {
	position: absolute;
	top: 61mm;
	left: 40mm;
	font-size: 12pt;
	font-weight: normal;
	font-family: "RobotoSlab", Cambria, Cochin, Georgia, Times, "Times New Roman",
		serif;
}

.results {
	position: absolute;
	top: 55mm;
	left: 25mm;
	width: 150mm;
}

.results-category {
	margin: 0 0 1.2em;
	color: #35495a;
	font-size: 12pt;
	font-family: "RobotoSlab", Cambria, Cochin, Georgia, Times, "Times New Roman",
		serif;
}

.results-rating {
	font-size: 10pt;
	color: #3aa1bf;

	.rating {
		color: #ffffff;
		background: #3aa1bf;
		text-transform: uppercase;
		font-size: 14pt;
		font-family: "Nexa", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		margin-top: 6mm;
		padding: 2mm 6mm;
		text-align: center;
		width: 30%;
	}
}

.results-score {
	margin-top: 10mm;
	padding-bottom: 3mm;
	margin-bottom: 12mm;
	border-bottom: 1px dashed #35495a;

	img {
		border: 1px solid red;
		height: 18mm;
		width: 140mm;
	}
}

.results-peer-rating {
	color: #3aa1bf;
	border-bottom: 1px dashed #35495a;

	padding-top: 4mm;
	padding-bottom: 4mm;
	p {
		margin: 0;
		font-size: 9pt;
	}

	.rating {
		margin-left: 7mm;
		padding-left: 7mm;
		text-transform: uppercase;
		color: #35495a;
	}
}

.results-text {
	margin-top: 6mm;

	p {
		font-size: 9pt;
		line-height: 10.48pt;
		margin-top: 0;
		margin-bottom: 6mm;
	}
}
