body {
	.content {
		.gform_wrapper {
			background: #d8ecf2;

			margin: 2em calc(50% - 50vw);
			padding: 2em calc(50vw - 50%);
			width: auto;
			max-width: none;

			.gform_fields {
				display: flex;
				flex-flow: wrap;
				.gfield {
					margin: 2em 1em 0 !important;
					padding-bottom: 2em;
					padding-right: 0;
					border-bottom: 1px solid white;

					@for $i from 1 through 6 {
						&:nth-of-type(#{$i}) {
							margin: 1em 0 !important;
							padding: 0 1em 1em 0;
							width: 50%;
						}
					}

					& > label {
						font-family: "Roboto Slab", serif;
						font-weight: normal;
						font-size: 1.4em;
						margin-top: 0;
					}

					.gfield_radio {
						margin: 0;
						display: flex;

						li {
							padding: 0 !important;

							input[type="radio"] {
								position: absolute;
								bottom: 1em;
								display: block;
								font-size: 1.5em;
							}

							label {
								display: block;
								font-family: "NexaRegular", Helvetica, Sans-serif;
								font-weight: normal;
								font-size: 1.2em;
								width: 100%;
								padding: 1em 1em 3em;
								text-align: center;
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}
